@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Secular+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style-type: none; 
    outline: none; 
    font-family: 'Russo One';
}
body{
    min-width: 1230px;
}
.header{
    width: 100%; 
    position: fixed; 
    z-index: 2;
    background: #3D64F0;
}
.container{ 
    width: 100%; 
    max-width: 1230px; 
    margin: 0 auto; 
    padding: 0 15px; 
} 
.header__container{ 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding-top: 15px;
    padding-bottom: 23px;
    height: 60px; 
}
.header__menu { 
    display: flex; 
    column-gap: 135px;
} 
.header__menu > li > a { 
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
} 
@media(max-width:550px){
    .header__menu{
        display: flex;
        column-gap: 10px;
    }
}
@media(max-width:310px){
    .header__menu{
        display: flex;
        column-gap: 5px;
    }
}
